<html>
<head>
    <script type="text/javascript" src="./msg_pb.js"></script>
</head>

<body>
<input id="login"></input>
<button onclick="onclick1()">登陆</button>
<input id="globalChat"></input>
<button onclick="onclick2()">发送全局聊天</button>
<input id="chatId"></input>
<input id="chatData"></input>
<button onclick="onclick3()">发送单人聊天</button>
<p id="p1"></p>
<script>
    var ws

    function onclick1() {
        var inputDom = document.getElementById("login");
        var name = inputDom.value

        // var pb = new proto.pb();
        // pb.setData("284655785|Login")
        // pb.setCmd(0)
        // var bytes = pb.serializeBinary();

        ws = new WebSocket("ws://127.0.0.1:5000/")
        ws.onmessage = function (e) {
            console.log(e.data);
            var reader = new FileReader();
            reader.readAsArrayBuffer(e.data);
            reader.onload = function (evt) {
                if (evt.target.readyState == FileReader.DONE) {

                    document.getElementById("p1").innerHTML = document.getElementById("p1").innerHTML + evt.target.result + "<br>";
                }
            }
        }

        ws.onopen = function () {
            ws.send(name)
        }
    }

    function onclick2() {
        var inputDom = document.getElementById("globalChat");
        var text = inputDom.value

        // var pb = new proto.pb();
        // pb.setData("284655785|onclick2")
        // pb.setCmd(1)
        // var bytes = pb.serializeBinary();

        ws.send(text)
    }

    function onclick3() {
        var chatID = document.getElementById("chatId").value
        var chatData = document.getElementById("chatData").value

        var pb = new proto.pb();
        pb.setData("284655785|onclick3")
        pb.setCmd(1)
        var bytes = pb.serializeBinary();

        ws.send(chatID + chatData)
    }
</script>


</body>
</html>  